ansible==2.7.10
argparse==1.4.0
avro-python3==1.9.1
bcrypt==3.1.7
beatbox3==0.96.1
beautifulsoup4==4.8.2
boto3==1.11.9
#boto3-python3==1.9.139
botocore==1.14.9
#botocore-python3==1.12.139
bs4==0.0.1
cached-property==1.5.1
cachetools==4.0.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
crate==0.23.2
cryptography==41.0.3
defusedxml==0.6.0
dnspython==1.16.0
docopt==0.6.2
docutils==0.15.2
#docutils-python3==0.13
ecdsa==0.15
elasticsearch==7.5.1
exchangelib
fake-useragent==0.1.11
future==0.18.2
google-api-python-client==1.7.11
google-auth==1.11.0
google-auth-httplib2==0.0.3
hdfs==2.5.8
hdfs3==0.3.1
html5lib==1.0.1
httplib2==0.17.0
idna==2.8
jinja2==2.10.3
jira==2.0.0
jmespath==0.9.4
#kafka==1.3.5
kafka-python==2.0.2
lxml==4.4.2
markupsafe==1.1.1
marrow.mailer==4.0.1
marrow.util==1.2.3
mechanize==0.4.5
more-itertools==8.1.0
msal==1.0.0
netaddr==0.7.19
ntlm-auth==1.4.0
numpy==1.18.1
oauth2==1.9.0.post1
oauth2client==4.1.3
oauthlib==3.1.0
objectpath==0.6.1
wheel
pandas==1.3.0
paramiko==2.7.1
pbr==5.4.4
protobuf==3.11.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pycrypto==2.6.1
pygments==2.5.2
pyjwt==1.7.1
pymysql==0.9.3
pynacl==1.3.0
pyopenssl==19.0.0
pyparsing==2.4.6
pypdf2==1.26.0
pysocks==1.7.1
python-dateutil==2.8.1
python-docx==0.8.6
python-magic==0.4.15
pytz==2019.3
pywinrm==0.2.0
pyyaml==5.3
requests==2.22.0
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
robotframework==3.0.2
rsa==4.0
rstr==2.2.6
s3transfer==0.3.2
#s3transfer-python3==0.2.0
selenium==3.141.0
simple-crypt==4.1.7
simple-salesforce==0.73.0
six==1.15.0
snakebite-py3==3.0.5
soupsieve==1.9.5
timeout-decorator==0.4.1
timestring==1.6.4
tlslite==0.4.9
tlslite-ng==0.7.5
tzlocal==2.0.0
uritemplate==3.0.1
urllib3==1.24.3
webencodings==0.5.1
wget==3.2
xlrd==1.2.0
xmltodict==0.12.0
zulu==0.12.0
jsondiff==1.1.0
pdfminer==20191010
pdfminer.six==20200402
pdfminer3==2018.12.3.0
pytest==5.4.3
google-auth-oauthlib==0.4.1
jsonlines==1.2.0
tika
pyotp
webdriver-manager==2.4.0
robotframework-requests==0.9.1
robotframework-jsonlibrary==0.3.1
jsonpath-ng==1.5.2
